{% extends 'layouts/site_layout.html.twig' %}

{% block title %}Hello PageController!{% endblock %}

{% block content %}

<div class="container">
    <h1 class="mt-5"> {{ controller_name }}! </h1>
    <h2> {{ page_name }}! ✅</h2>
</div>

{% endblock %}
